﻿@model Bookstore.Models.WorkerLoginViewModel

@{
    ViewData["Title"] = "AccessDenied";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Access Denied. You are unauthoried to perform that action.</h2>
<h4 class="text-danger">Or a really fatal error occurred when fetching your authantication policy.</h4>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
