﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
@if (Model.ShowStatusCode)
{
    <p>
        <strong>Status Code</strong> <code>@Model.StatusCode</code>
    </p>
}

@if (Model.ShowAdditionalInfo)
{
    <p>
        <code>@Model.AdditionalInfo</code>
    </p>
}